﻿@using Microsoft.AspNet.Identity
<div class="sidebar sidebar-main">
    <div class="sidebar-content">
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="navigation-header"><span>Menu</span> <i class="icon-menu" title="Menu"></i></li>
                        <li><a href="@Url.Action("Index", "Home")"><i class="icon-home"></i> <span>Home</span></a></li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-database-menu"></i> <span>Setup</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "PerusahaanKerjasama")">Perusahaan Kerjasama</a></li>
                                <li><a href="@Url.Action("Index", "Departemen")">Departemen</a></li>
                                <li><a href="@Url.Action("Index", "JenisPasien")">Jenis Pasien</a></li>
                                <li><a href="@Url.Action("Index", "TypeAsuransi")">Type Asuransi</a></li>
                                <li><a href="@Url.Action("Index", "NamaAsuransi")">Nama Asuransi</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-collaboration"></i> <span>Kerjasama</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "SetupAnggotaKerjasama")">Setup Anggota Kerjasama</a></li>
                                <li><a href="@Url.Action("Index", "SetupKontrakKerjasama")">Setup Kontrak Kerjasama</a></li>
                                <li><a href="@Url.Action("Index", "SetupTarifKerjasamaModel")">Setup Tarif Kerjasama</a></li>
                                <li><a href="@Url.Action("Index", "SetupKontrakMCU")">Setup Kontrak MCU</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="has-ul"><i class="icon-printer4"></i> <span>Report</span></a>
                            <ul class="hidden-ul">
                                <li><a href="@Url.Action("Index", "Report", new { name = "Laporan Rekap Marketing", category = "RekapMarketing"})">Laporan Rekap Marketing</a></li>
                                <li><a href="@Url.Action("Index", "Report", new { name = "Laporan Akumulasi Marketing", category = "AkumulasiMarketing"})">Laporan Akumulasi Marketing</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>