﻿<style>
    #modallookupformularium table td,
    #modallookupformularium table th {
        white-space: nowrap;
    }
</style>
<div id="modallookupformularium" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Formularium</h4>
            </div>
            <form id="lookupanggota">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header" style="padding-bottom:15px;">
                        <div class="form-inline">
                            <div class="form-group">
                                <label>Filter</label>
                                <input type="search" class="form-control" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </div>
                            <div class="form-group hide">
                                <label>Show</label>
                                <select class="form-control itable-pagesize" style="width: auto;" onchange="itablelookupformularium.refresh()">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup" role="grid" aria-describedby="DataTables_Table_0_info">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="Kode_Barang">ID<i></i></th>
                                    <th class="sorting" data-itable-sorting="Nama_Barang">Deskripsi<i></i></th>
                                    <th class="sorting" data-itable-sorting="Kode_Satuan_Beli">Satuan<i></i></th>
                                    <th class="sorting" data-itable-sorting="SubKategori">Sub Kategori<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupformularium.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupformularium;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupformularium = new iTable({
            url: '@Url.Action("ListLookupFormularium")',
            table: document.getElementById('modallookupformularium'),
            orderby: 'Barang_ID',
            orderbytype: true,
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append('<tr><td colspan="9" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>');
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupformularium.detailactive(this)">';

                        // column
                        tbody += '<td>' + value.Kode_Barang + '</td>';
                        tbody += '<td>' + value.Nama_Barang + '</td>';
                        tbody += '<td>' + value.Kode_Satuan_Beli + '</td>';
                        tbody += '<td>' + value.SubKategori  + '</td>';
                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });

        itablelookupformularium.openmodal = function(t) {
            itablelookupformularium.refresh();
            $('#modallookupformularium').modal();
            $('.modal-backdrop:last').css('z-index', $('#modallookupformularium').css('z-index') - 1);
        }

        itablelookupformularium.clear = () => {
            isetup.form['Kode_Barang'].value = '';
            isetup.form['Nama_Barang'].value = '';
            isetup.form['Kode_Satuan_Beli'].value = '';
            isetup.form['SubKategori'].value = '';
            isetup.form['Formularium'].value = '';
        };

        itablelookupformularium.detailactive = function(t) {
            if ($(t).hasClass('bg-primary')) {
                itablelookupformularium.selected(t);
            } else {
                $(t).closest('tbody').find('.bg-primary').removeClass('bg-primary');
                $(t).addClass('bg-primary');
            }
        }

        itablelookupformularium.selected = function (t) {
            $.each($(t).closest('.modal').find('table tbody tr.bg-primary'), function (index, value) {
                var model = JSON.parse($(value).data('model'));
                isetup.adddetailbodydetailformularium(
                    model.Kode_Barang,
                    model.BarangID,
                    model.Nama_Barang,
                    model.Kode_Satuan_Beli,
                    model.SubKategori,
                    model.SubKategori,
                    model.Formularium
                );
            });
            $(t).closest('.modal').modal('hide');
        }

        $('#modallookupformularium').on('hidden.bs.modal', function () { $('body').addClass('modal-open'); });
    });
</script>

