﻿@using Marketing.Helper
@{
    ViewBag.Title = "Setup Tarif Kerjasama";
    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<form id="formtable">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"></h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    @*<li><a class="panel-action action-plus" href="javascript:isetup.opensetup('CREATE')"></a></li>*@
                    <li><a class="panel-action action-reload" href="javascript:itable.refresh()"></a></li>
                </ul>
            </div>
        </div>
        <div class="dataTables_wrapper no-footer" style="display: block;">
            <div class="datatable-header form-horizontal">
                <div class="dataTables_filter col-md-3">
                    <label>
                        <span>Filter:</span>
                        <input type="search" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                    </label>
                </div>

                <div class="col-md-2 pull-right">
                    <div class="dataTables_length">
                        <label>
                            <span>Show:</span>
                            <select class="form-control itable-pagesize" style="width: auto;">
                                <option selected>10</option>
                                <option>25</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="datatable-scroll">
                <table class="table datatable-basic dataTable no-footer table-xxs table-striped">
                    <thead>
                        <tr>
                            <th class="sorting" data-itable-sorting="Customer_Kode_Customer">Kode Perusahaan<i></i></th>
                            <th class="sorting" data-itable-sorting="Nama_Customer">Nama Perusahaan<i></i></th>
                            <th class="sorting" data-itable-sorting="JenisKerjasama_JenisKerjasama">Jenis<i></i></th>
                            <th class="sorting" data-itable-sorting="Kelas_NamaKelas">Nama Kelas<i></i></th>
                            <th class="sorting" data-itable-sorting="StartDate" >Start Date<i></i></th>
                            <th class="sorting" data-itable-sorting="EndDate" style="width: 100px;">End Date<i></i></th>
                            <th class="text-center sorting_disabled" style="width: 100px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="datatable-footer">
                <div class="dataTables_info itable-info"></div>
                <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
            </div>
        </div>
    </div>
</form>

<script>
    $('#kategori').select2();
    var itable;
    document.addEventListener("DOMContentLoaded", function (event) {
        itable = new iTable({
            url: '@Url.Action("List")',
            table: document.getElementById('formtable'),
            orderby: 'CustomerKerjasamaID',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    var tbody = '';
                    if (r.Data.length === 0)
                        tbody += '<tr><td colspan="3" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>';
                    $.each(r.Data, function (index, value) {
                        tbody += '<tr class="odd">';

                        // column
                        tbody += '<td class="hidden">' + value.CustomerKerjasamaID + '</td>';
                        tbody += '<td>' + value.Customer_Kode_Customer + '</td>';
                        tbody += '<td>' + value.Nama_Customer + '</td>';
                        tbody += '<td>' + value.JenisKerjasama_JenisKerjasama + '</td>';
                        tbody += '<td>' + value.Kelas_NamaKelas + '</td>';
                        tbody += '<td>' + value.StartDate  + '</td>';
                        tbody += '<td>' + value.EndDate + '</td>';


                        tbody += '<td class="text-center">';
                        tbody += '<ul class="icons-list">';
                        tbody += '<li class="dropdown">';
                        tbody += '<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-menu9"></i></a>';
                        tbody += '<ul class="dropdown-menu dropdown-menu-right">';

                        // action
                        tbody += '<li><a href="javascript:isetup.opensetup(\'EDIT\',{ id : \'' + value.CustomerKerjasamaID + '\'})"><i class="icon-pencil"></i> Edit</a></li>';
                        tbody += '<li><a href="javascript:isetup.opensetup(\'VIEW\', { id : \'' + value.CustomerKerjasamaID + '\'})"><i class="icon-eye"></i> View</a></li>';

                        tbody += '</ul>';
                        tbody += '</li>';
                        tbody += '</ul>';
                        tbody += '</td>';
                        tbody += '</tr>';
                    });
                    $(t.table).find('tbody').html(tbody);
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else {
                    alert(r.Message);
                }
            }
        });
        itable.refresh();
    });
</script>
@Html.Partial("Setup")
@Html.Partial("_LookUpAnggota")
@Html.Partial("_LookUpJasa")
@Html.Partial("_LookUpPerusahaan")
@Html.Partial("_LookUpFormularium")


@*<div>
        <label class="col-md-1 control-label">Kategori</label>
    </div>
    <div class="col-md-3">
        <select id="kategori" data-itable-filter="kategori">@html.raw(hlist.kategorivendor)</select>
    </div>*@
