﻿@using Marketing.Helper

<style>
    #modalsetup .input-detail td{
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kontrak Kerjasama</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kode</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" name="IdPerusahaan" class="form-control hidden" />
                                            <input type="text" name="CustomerKerjasamaID" class="form-control hidden" />
                                            <input type="text" name="CoPay" class="form-control hidden" value="1" />
                                            <input type="text" name="TarifYangDigunakanDiskon" class="form-control hidden" />
                                            <input type="text" name="DiskonLangsungKePasien" class="form-control hidden" />
                                            <input type="text" name="JenisPembayaranYangDitanggung" class="form-control hidden" />
                                            <input type="text" required name="KodePerusahaan" class="form-control all-readonly" />
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-primary view-disabled" onclick="itablelookupperusahaan.openmodal()"><i class="icon-search4"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Nama</label>
                                    <div class="col-md-8">
                                        <input type="text" name="NamaPerusahaan" class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Jenis Kerjasama</label>
                                    <div class="col-md-8">
                                        <select name="JenisKerjasama" class="form-control clear-create" required>@Html.Raw(HList.List_JenisKerjasama)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Kelas Pelayanan</label>
                                    <div class="col-md-8">
                                        <select name="KelasPelayanan" class="form-control clear-create" required >@Html.Raw(HList.List_KelasPelayanan)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">StartDate</label>
                                    <div class="col-md-8">
                                        <input type="date" name="StartDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">EndDate</label>
                                    <div class="col-md-8">
                                        <input type="date" name="EndDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Ditanggung</label>
                                    <div class="col-md-8">
                                        <select name="Ditanggung" class="form-control clear-create" required>@Html.Raw(HList.List_Ditanggung)</select>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Kelas Kontrak</label>
                                    <div class="col-md-6">
                                        <select name="KelasKontrak" class="form-control clear-create" required >@Html.Raw(HList.List_KelasKontrak)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Jenis Pembayaran</label>
                                    <div class="col-md-6">
                                        <select name="JenisPembayaran" class="form-control clear-create" required>@Html.Raw(HList.List_JenisPembayaran)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Tanggal Jth Tempo</label>
                                    <div class="col-md-6">
                                        <select name="TglJatuhTempo" class="form-control clear-create" required >@Html.Raw(HList.List_TglJatuhTempo)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Max Rawat/opname</label>
                                    <div class="col-md-3">
                                        <input type="text" name="MaxRawatOpname1" class="form-control" required/>
                                    </div>
                                    <label class="col-md-3 control-label">/Tahun</label>
                                    <div class="col-md-3">
                                        <input type="text" name="MaxRawatOpname2" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Max ICU/opname</label>
                                    <div class="col-md-3">
                                        <input type="text" name="MaxICUOpname1" class="form-control" required/>
                                    </div>
                                    <label class="col-md-3 control-label">/Tahun</label>
                                    <div class="col-md-3">
                                        <input type="text" name="MaxICUOpname2" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Up Obat %</label>
                                    <div class="col-md-3">
                                        <input type="text" name="UpObat" class="form-control" required/>
                                    </div>
                                    <label class="col-md-3 control-label">Disc Obat %</label>
                                    <div class="col-md-3">
                                        <input type="text" name="DiskonObat" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-6 control-label">Max Nilai Rawat Inap/Tahun</label>
                                    <div class="col-md-6">
                                        <input type="text" name="MaxNilaiRawatInap" class="form-control" required/>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="PaketPemeriksaan" />
                                        Paket Pemeriksaan+Obat Dikunci
                                    </label>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-7 control-label">(Yang Ditanggung Oleh Perusahaan)</label>
                                    <div class="col-md-2">
                                        <input type="text" name="TarifYangDigunakanUp" class="form-control " required/>
                                    </div>
                                    %
                                </div>
                                <div class="form-group">
                                    <label class="col-md-7 control-label">Jenis Formularium</label>
                                    <div class="col-md-5">
                                        <select name="JenisFormularium" class="form-control clear-create" required>@Html.Raw(HList.List_JenisFormularium)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-7 control-label">Paket Kerjasama</label>
                                    <div class="col-md-5">
                                        <select name="PaketKerjasama" class="form-control clear-create">@Html.Raw(HList.List_PaketKerjasama)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-7 control-label">Obat Ditanggung</label>
                                    <div class="col-md-5">
                                        <select name="ObatDitanggung" class="form-control clear-create" required>@Html.Raw(HList.List_ObatDitanggung)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-7 control-label">Harga Obat Digunakan</label>
                                    <div class="col-md-5">
                                        <select name="HargaObatDigunakan" class="form-control clear-create" required>@Html.Raw(HList.List_HargaObatDigunakan)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-7 control-label">Kelebihan Plafon</label>
                                    <div class="col-md-5">
                                        <select name="KelebihanPlafon" class="form-control clear-create" required>@Html.Raw(HList.List_KelebihanPlafon)</select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-7 control-label">Iuran Peranggota</label>
                                    <div class="col-md-5">
                                        <input type="text" name="IuranPerAnggota" class="form-control " required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-6 checkbox-inline">
                                            <input type="checkbox" name="KITAS" />
                                            KITAS
                                        </label>
                                        <label class=" col-md-6checkbox-inline">
                                            <input type="checkbox" name="Aktif" checked/>
                                            Active
                                        </label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="SembunyikanObat" />
                                            Sembunyikan Obat Yang Tidak Masuk Formularium
                                        </label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#detailplafon" aria-controls="home" role="tab" data-toggle="tab">Detail Plafon</a></li>
                                <li role="presentation"><a href="#detailformularium" aria-controls="profile" role="tab" data-toggle="tab">Formularium</a></li>
                                <li role="presentation"><a href="#detaildiscount" aria-controls="profile" role="tab" data-toggle="tab">Discount</a></li>
                                <li role="presentation"><a href="#detailsectiontdkditanggung" aria-controls="profile" role="tab" data-toggle="tab">Section Tdk Ditanggung</a></li>
                                <li role="presentation"><a href="#detailjasaexceptiondiscount" aria-controls="profile" role="tab" data-toggle="tab">JasaExceptionDiscount</a></li>
                                <li role="presentation"><a href="#detailrasioobat" aria-controls="profile" role="tab" data-toggle="tab">Rasio Obat</a></li>
                                <li role="presentation"><a href="#detailmarkup" aria-controls="profile" role="tab" data-toggle="tab">MARKUP</a></li>
                                <li role="presentation"><a href="#detaildatapaketobat" aria-controls="profile" role="tab" data-toggle="tab">Data Paket Obat</a></li>
                                <li role="presentation"><a href="#detailinfoiks" aria-controls="profile" role="tab" data-toggle="tab">Info IKS</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="detailplafon" class="tab-pane active">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailplafon">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <a onclick="isetup.adddetailbodydetailplafon('','','')"><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td>Katergori Plafon</td>
                                                            <td>Ditanggung</td>
                                                            <td style="width:300px;">NilaiPlafon</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="detailformularium" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailformularium">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <a onclick="itablelookupformularium.openmodal()"><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td>ID</td>
                                                            <td>Deskripsi</td>
                                                            <td>Satuan</td>
                                                            <td>SubKategori</td>
                                                            <td>Formulariom</td>
                                                            <td style="width:300px;">Ditanggung</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="detaildiscount" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detaildiscount">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="6">
                                                                <label class="checkbox-inline">
                                                                    <input type="checkbox" id="DiscountExpectionJasa" name="DiscountExpectionJasa" onchange="discountexpectionjasa()" />
                                                                    Discount Dengan Exception Jasa
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <a onclick="itablelookupdiscount.openmodal()" ><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td>ID Discount</td>
                                                            <td>Discount</td>
                                                            <td>Disc%</td>
                                                            <td>Tipe</td>
                                                            <td style="width:300px;">Di Rincian Tarif</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="detailsectiontdkditanggung" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailsectiontdkditanggung">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <a onclick="itablelookupsectiontdkditanggung.openmodal()"><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td>ID Section</td>
                                                            <td>Section Name</td>
                                                            <td style="width:300px;">Ditanggung</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="detailjasaexceptiondiscount" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailjasaexceptiondiscount">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <button type="button" onclick="itablelookupjasaexpection.openmodal()" id="btn_tambah_discount" disabled><i class="icon icon-plus2" ></i></button>
                                                            </td>
                                                            <td>ID Jasa</td>
                                                            <td style="width:300px;">Nama Jasa</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="detailrasioobat" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailrasioobat">
                                                    <thead>
                                                        <tr>
                                                            <td colspan="6">
                                                                <label class="checkbox-inline">
                                                                    <input type="checkbox" id="AdaRasioObat" name="AdaRasioObat" onchange="adarasioobat()" />
                                                                    Ada Rasio Obat
                                                                </label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <button type="button" onclick="itablelookuprasioobat.openmodal()" id="btn_tambah_rasioobat" disabled><i class="icon icon-plus2"></i></button>
                                                            </td>
                                                            <td>Spesialis</td>
                                                            <td>Sub Spesialis</td>
                                                            <td>Nilai Rasio</td>
                                                            <td style="width:300px;">Blok</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="detailmarkup" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detailmarkup">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:50px;" class="text-center view-hide">
                                                                <a onclick="isetup.adddetailmarkup('','','')"><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td>Group Jasa</td>
                                                            <td>MarkuUp(%)</td>
                                                            <td style="width:300px;">Keterangan </td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="detaildatapaketobat" class="tab-pane">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered input-detail detaildatapaketobat">
                                                    <thead>
                                                        <tr>
                                                            <td style="width:10px;" class="text-center view-hide">
                                                                <a onclick="isetup.adddetailpakeobat()"><i class="icon icon-plus2"></i></a>
                                                            </td>
                                                            <td style="width:600px;">Kelompok Jenis</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="detailinfoiks" class="tab-pane">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Keterangan</label>
                                        <div class="col-md-4">
                                            <input type="text" name="Keterangan" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value
                    t['IdPerusahaan'].value = r.Data.IdPerusahaan;
                    t['CustomerKerjasamaID'].value = r.Data.CustomerKerjasamaID;
                    t['KodePerusahaan'].value = r.Data.KodePerusahaan;
                    t['NamaPerusahaan'].value = r.Data.NamaPerusahaan;
                    t['JenisKerjasama'].value = r.Data.JenisKerjasama;
                    t['KelasPelayanan'].value = r.Data.KelasPelayanan;
                    t['KelasKontrak'].value = r.Data.KelasKontrak;
                    t['StartDate'].value = r.Data.StartDate;
                    t['EndDate'].value = r.Data.EndDate;
                    t['CoPay'].value = r.Data.CoPay;
                    t['Ditanggung'].value = r.Data.Ditanggung;
                    t['KelebihanPlafon'].value = r.Data.KelebihanPlafon;
                    //t['IuranPerAnggota'].value = r.Data.IuranPerAnggota;
                    isetup.clave_IuranPerAnggota.setRawValue(r.Data.IuranPerAnggota);
                    t['TglJatuhTempo'].value = r.Data.TglJatuhTempo;
                    t['JenisFormularium'].value = r.Data.JenisFormularium;
                    t['MaxRawatOpname1'].value = r.Data.MaxRawatOpname1;
                    t['MaxRawatOpname2'].value = r.Data.MaxRawatOpname2;
                    t['MaxICUOpname1'].value = r.Data.MaxICUOpname1;
                    t['MaxICUOpname2'].value = r.Data.MaxICUOpname2;
                    t['MaxNilaiRawatInap'].value = r.Data.MaxNilaiRawatInap;
                    t['TarifYangDigunakanUp'].value = r.Data.TarifYangDigunakanUp;
                    t['TarifYangDigunakanDiskon'].value = r.Data.TarifYangDigunakanDiskon;
                    t['DiskonLangsungKePasien'].value = r.Data.DiskonLangsungKePasien;
                    t['HargaObatDigunakan'].value = r.Data.HargaObatDigunakan;
                    t['UpObat'].value = r.Data.UpObat;
                    t['DiskonObat'].value = r.Data.DiskonObat;
                    t['JenisPembayaran'].value = r.Data.JenisPembayaran;
                    t['JenisPembayaranYangDitanggung'].value = r.Data.JenisPembayaranYangDitanggung;
                    t['PaketKerjasama'].value = r.Data.PaketKerjasama;
                    t['Aktif'].value = r.Data.Aktif;
                    t['SembunyikanObat'].value = r.Data.SembunyikanObat;
                    t['PaketPemeriksaan'].value = r.Data.PaketPemeriksaan;


                    // detail
                    $(t).find('.detailplafon tbody').html('');
                    $(t).find('.detailformularium tbody').html('');
                    $(t).find('.detaildiscount tbody').html('');
                    $(t).find('.detailsectiontdkditanggung tbody').html('');
                    $(t).find('.detailjasaexceptiondiscount tbody').html('');
                    $(t).find('.detailrasioobat tbody').html('');
                    $(t).find('.detailmarkup tbody').html('');
                    $(t).find('.detaildatapaketobat tbody').html('');
                    $(t).find('.detailinfoiks tbody').html('');
                    isetup.DetailPlafonClave = [];
                    $.each(r.DetailPlafon, function (index, value) {
                        isetup.adddetailbodydetailplafon(
                            value.KategoriPlafon,
                            value.Ditanggung,
                            value.NilaiPlafon
                        );
                    });
                    isetup.DetailPlafonClave = [];
                    $.each(r.Formularium, function (index, value) {
                        isetup.adddetailbodydetailformularium(
                            value.Barang_ID,
                        );
                    });
                    $.each(r.Diskon, function (index, value) {
                        isetup.adddetaildiscount(
                            value.IDDiskon,
                            value.NamaDiskon,
                            value.Disc
                        );
                    });
                    $.each(r.SectionDitanggung, function (index, value) {
                        isetup.adddetailsectiontdkada(
                            value.SectionID,
                            value.SectionName,
                            value.Ditanggung
                        );
                    });
                    $.each(r.JasaExectionDiskon, function (index, value) {
                        isetup.adddetailjasaexpection(
                            value.JasaID,
                            value.JasaName
                        );
                    });
                    $.each(r.RasioObat, function (index, value) {
                        isetup.adddetailradioobat(
                            value.Spesialis,
                            value.Subspesialis,
                            value.Nilai,
                            value.Blok
                        );
                    });
                    $.each(r.Markup, function (index, value) {
                        isetup.adddetailmarkup(
                            value.GroupJasa,
                            value.Markup,
                            value.Keterangan
                        );
                    });
                    $.each(r.DataPaketObat, function (index, value) {
                        isetup.adddetailpakeobat(
                            value.JenisObat
                        );
                    });



                    isetup.init();

                    if (isetup.form['_PROCESS'].value === 'EDIT' ) {
                        $(isetup.form['CustomerID']).attr('readonly', 'readonly');
                        $('.view-hide').hide();
                     }

                    if (isetup.form['_PROCESS'].value === 'VIEW')
                        $('#modaldetailkomponen .view-hide').hide();
                    else
                        $('#modaldetailkomponen .view-hide').show();

                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                isetup.DetailPlafonClave = [];
                return {
                    _process : t['_PROCESS'].value,
                    model: {
                        // param
                        IdPerusahaan: t['IdPerusahaan'].value,
                        CustomerKerjasamaID: t['CustomerKerjasamaID'].value,
                        JenisKerjasama: t['JenisKerjasama'].value,
                        KelasPelayanan: t['KelasPelayanan'].value,
                        KelasKontrak: t['KelasKontrak'].value,
                        StartDate: t['StartDate'].value,
                        EndDate: t['EndDate'].value,
                        CoPay: t['CoPay'].value,
                        Ditanggung: t['Ditanggung'].value,
                        KelebihanPlafon: t['KelebihanPlafon'].value,
                        IuranPerAnggota: t['IuranPerAnggota'].value,
                        TglJatuhTempo: t['TglJatuhTempo'].value,
                        JenisFormularium: t['JenisFormularium'].value,
                        MaxRawatOpname1: t['MaxRawatOpname1'].value,
                        MaxRawatOpname2: t['MaxRawatOpname2'].value,
                        MaxICUOpname1: t['MaxICUOpname1'].value,
                        MaxICUOpname2: t['MaxICUOpname2'].value,
                        MaxNilaiRawatInap: t['MaxNilaiRawatInap'].value,
                        TarifYangDigunakanUp: t['TarifYangDigunakanUp'].value,
                        TarifYangDigunakanDiskon: t['TarifYangDigunakanDiskon'].value,
                        DiskonLangsungKePasien: t['DiskonLangsungKePasien'].value,
                        HargaObatDigunakan: t['HargaObatDigunakan'].value,
                        UpObat: t['UpObat'].value,
                        DiskonObat: t['DiskonObat'].value,
                        JenisPembayaran: t['JenisPembayaran'].value,
                        JenisPembayaranYangDitanggung: t['JenisPembayaranYangDitanggung'].value,
                        PaketKerjasama: t['PaketKerjasama'].value,
                        Aktif: t['Aktif'].checked,
                        SembunyikanObat: t['SembunyikanObat'].checked,
                        PaketPemeriksaan: t['PaketPemeriksaan'].checked,


                        DetailPlafon: $.map($(t).find('.detailplafon tbody tr'), function (value) {
                            return {
                                KategoriPlafon: $(value).find('.Id').val(),
                                Ditanggung: $(value).find('.Ditanggung')[0].checked,
                                NilaiPlafon: getfloatfromcurrency($(isetup.form).find(' .detailplafon tbody tr:last .nilaiplafon').val())
                            }
                        }),
                        Formularium: $.map($(t).find('.detailformularium tbody tr'), function (value) {
                            return {
                                Id : $(value).find('.Id').val(),
                                Formularium: $(value).find('.Formularium')[0].checked,
                                Ditanggung: $(value).find('.Ditanggung')[0].checked,
                            }
                        }),
                        Diskon: $.map($(t).find('.detaildiscount tbody tr'), function (value) {
                            return {
                                Diskon: $(value).find('.Id').val(),
                            }
                        }),
                        SectionDitanggung: $.map($(t).find('.detailsectiontdkditanggung tbody tr'), function (value) {
                            return {
                                Id: $(value).find('.Id').val(),
                                Ditanggung: $(value).find('.Ditanggung')[0].checked,
                            }
                        }),
                        JasaExectionDiskon: $.map($(t).find('.detailjasaexceptiondiscount tbody tr'), function (value) {
                            return {
                                Id: $(value).find('.Id').val(),
                            }
                        }),
                        RasioObat: $.map($(t).find('.detailrasioobat tbody tr'), function (value) {
                            return {
                                Spesialis: $(value).find('.Spesialis').val(),
                                SubSpesialis: $(value).find('.SubSpesialis').val(),
                                NilaiRasio: getfloatfromcurrency($(value).find('.NilaiRasio').html()),
                                Blok: $(value).find('.Blok')[0].checked,
                            }
                        }),
                        Markup: $.map($(t).find('.detailmarkup tbody tr'), function (value) {
                            return {
                                GroupJasa: $(value).find('.Id').val(),
                                Markup: $(value).find('.MarkUp').val(),
                                Keterangan: $(value).find('.Keterangan').val(),
                            }
                        }),
                        DataPaketObat: $.map($(t).find('.detaildatapaketobat tbody tr'), function (value) {
                            return {
                                KelompokJenis: $(value).find('.Id').val(),
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {

                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
                //$(isetup.form).find('.input-detail .detailplafon tbody tr').html('');
                //$(isetup.form).find('.input-detail .detailformularium tbody').html('');
                //$(isetup.form).find('.input-detail .detaildiscount tbody').html('');
                //$(isetup.form).find('.input-detail .detailsectiontdkditanggung tbody').html('');
                //$(isetup.form).find('.input-detail .detailjasaexceptiondiscount tbody').html('');
                //$(isetup.form).find('.input-detail .detailrasioobat tbody').html('');
                //$(isetup.form).find('.input-detail .detailmarkup tbody').html('');
                //$(isetup.form).find('.input-detail .detaildatapaketobat tbody').html('');
            }
        });

        $(isetup.form['JenisKerjasama']).select2();
        $(isetup.form['KelasPelayanan']).select2();
        $(isetup.form['Ditanggung']).select2();
        $(isetup.form['KelasKontrak']).select2();
        $(isetup.form['JenisPembayaran']).select2();
        $(isetup.form['TglJatuhTempo']).select2();
        $(isetup.form['JenisFormularium']).select2();
        $(isetup.form['PaketKerjasama']).select2();
        $(isetup.form['ObatDitanggung']).select2();
        $(isetup.form['HargaObatDigunakan']).select2();
        $(isetup.form['KelebihanPlafon']).select2();
        isetup.clave_IuranPerAnggota = new Cleave(isetup.form['IuranPerAnggota'], { numeral: true, numeralThousandsGroupStyle: 'thousand' });

        isetup.DetailPlafonClave = [];

        isetup.adddetailbodydetailplafon = (kategoriflapon, ditanggung, nilaiplafon, hidedelete) => {
            if ($(isetup.form).find('.input-detail .detailplafon tbody tr[data-id="' + kategoriflapon + '"]').length) {
                alerterror(kategoriflapon + ' sudah ada');
                return;
            }
            var _detail = '';
            _detail += '<tr data-id="' + kategoriflapon + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += `<td><select class="Id" required>${kategoriflapon ? `<option value='${kategoriflapon}'>${kategoriflapon} - ${kategoriflapon}</option>` : ''}</select></td>`;
            _detail += '<td class="text-center"><input type="checkbox" class="Ditanggung" ' + (ditanggung ? 'checked' : '') + ' /></td>';
            _detail += '<td><input type="text"  class="form-control text-right nilaiplafon" min="0"  value="' + getcurrencyfromfloat(nilaiplafon) + '" /></td>';


            _detail += '</tr>';
            $(isetup.form).find('.detailplafon tbody').append(_detail);

            $(isetup.form).find('.input-detail .detailplafon tbody tr:last .kategoriflapon').val();
            isetup.DetailPlafonClave.push({
                id: kategoriflapon,
                nilaiplafon: new Cleave($(isetup.form).find('.detailplafon tbody tr:last .nilaiplafon')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
            });


            $(isetup.form).find('.detailplafon tbody tr:last select').select2({
                ajax: {
                    url: "@Url.Action("List_Plafon", "Select2")",
                    dataType: 'json',type: "POST",delay: 250,
                    data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                    processResults: function (data, params) {
                        if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                        else {
                            params.page = data.PageIndex + 1;
                            return {
                                results: $.map(data.Data, function (value, index) {
                                    return {
                                        id: value.Id,
                                        text: value.Id + ' - ' + value.Nama,
                                    }
                                }), pagination: { more: (params.page * 30) < data.TotalCount }
                            };
                        }
                    }, cache: true
                },
                allowClear: true,
                placeholder: ""
            });
        };

        isetup.adddetailbodydetailformularium = (id, deskripsi, satuan, subkategori, formularium, ditanggung, hidedelete) => {
            if ($(isetup.form).find('.input-detail .detailformularium tbody tr[data-id="' + id + '"]').length) {
                alerterror(id + ' sudah ada');
                return;
            }
            var _detail = '';
            _detail += '<tr data-id="' + id + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += '<td class="td-text Id">' + id + '</td>';
            _detail += '<td class="td-text">' + deskripsi + '</td>';
            _detail += '<td class="td-text">' + satuan + '</td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Subkatergori" ' + (subkategori ? 'checked' : '') + ' /></td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Formularium" ' + (formularium ? 'checked' : '') + ' /></td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Ditanggung" ' + (ditanggung ? 'checked' : '') + ' /></td>';

            _detail += '</tr>';
            $(isetup.form).find('.detailformularium tbody').append(_detail);

        };

        isetup.adddetaildiscount = (iddiscount, discount, disc, tipe, rincian, hidedelete) => {
            if ($(isetup.form).find('.input-detail .detaildiscount tbody tr[data-id="' + iddiscount + '"]').length) {
                alerterror(iddiscount + ' sudah ada');
                return;
            }
            var _detail = '';
            _detail += '<tr data-id="' + discount + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += '<td class="td-text Id">' + iddiscount + '</td>';
            _detail += '<td class="td-text">' + discount + '</td>';
            _detail += '<td><input type="number"  class="form-control text-right Disc" min="0" max="100"  value="' + disc + '" /></td>';
            _detail += '<td class="td-text">' + tipe + '</td>';
            //_detail += '<td><input type="number"  class="form-control text-center Tipe"  value="' + tipe + '" /></td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Rincian" ' + (rincian ? 'checked' : '') + ' /></td>';

            _detail += '</tr>';
            $(isetup.form).find('.detaildiscount tbody').append(_detail);

        };

        isetup.adddetailsectiontdkada = (sectionid, sectionname, ditanggung, hidedelete) => {
            if ($(isetup.form).find('.input-detail .detailsectiontdkditanggung tbody tr[data-id="' + sectionid + '"]').length) {
                alerterror(sectionname + ' sudah ada');
                return;
            }
            var _detail = '';
            _detail += '<tr data-id="' + sectionid + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += '<td class="td-text Id">' + sectionid + '</td>';
            _detail += '<td class="td-text">' + sectionname + '</td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Ditanggung" ' + (ditanggung ? 'checked' : '') + ' /></td>';

            _detail += '</tr>';
            $(isetup.form).find('.detailsectiontdkditanggung tbody').append(_detail);

        };

        isetup.adddetailjasaexpection = (jasaid, jasaname, hidedelete) => {
            if ($(isetup.form).find('.input-detail .detailjasaexceptiondiscount tbody tr[data-id="' + jasaid + '"]').length) {
                alerterror(jasaname + ' sudah ada');
                return;
            }
            var _detail = '';
            _detail += '<tr data-id="' + jasaid + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += '<td class="td-text Id">' + jasaid + '</td>';
            _detail += '<td class="td-text">' + jasaname + '</td>';


            _detail += '</tr>';
            $(isetup.form).find('.detailjasaexceptiondiscount tbody').append(_detail);

        };

        isetup.adddetailradioobat = (spesialis, subspesialis, nilairasio, blok, hidedelete) => {
            if ($(isetup.form).find('.input-detail .detailrasioobat tbody tr[data-id="' + spesialis + '"]').length) {
                alerterror(spesialis + ' sudah ada');
                return;
            }
            var _detail = '';
            _detail += '<tr data-id="' + spesialis + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += '<td class="td-text Spesialis">' + spesialis + '</td>';
            _detail += '<td class="td-text SubSpesialis">' + subspesialis + '</td>';
            _detail += '<td><input type="text"  class="form-control text-right NilaiRasio" min="0"   value="' + getcurrencyfromfloat(nilairasio) + '" /></td>';
            _detail += '<td class="text-center"><input type="checkbox" class="Blok" ' + (blok ? 'checked' : '') + ' /></td>';


            _detail += '</tr>';
            $(isetup.form).find('.detailrasioobat tbody').append(_detail);

            isetup.DetailPlafonClave.push({
                id: spesialis,
                nilairasio: new Cleave($(isetup.form).find('.detailrasioobat tbody tr:last .NilaiRasio')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
            });

        };

        isetup.adddetailmarkup = (groupjasa, markup, keterangan, hidedelete) => {
            if ($(isetup.form).find('.input-detail .detailmarkup tbody tr[data-id="' + groupjasa + '"]').length) {
                alerterror(groupjasa + ' sudah ada');
                return;
            }
            var _detail = '';
            _detail += '<tr data-id="' + groupjasa + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += `<td><select class="Id" required>${groupjasa ? `<option value='${groupjasa}'>${groupjasa} - ${groupjasa}</option>` : ''}</select></td>`;
            _detail += '<td><input type="number"  class="form-control text-center MarkUp"  value="' + markup + '" /></td>';
            _detail += '<td><input type="text"  class="form-control text-center Keterangan"  value="' + keterangan + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('.detailmarkup tbody').append(_detail);



            $(isetup.form).find('.detailmarkup tbody tr:last select').select2({
                ajax: {
                    url: "@Url.Action("List_MarkUp", "Select2")",
                    dataType: 'json',type: "POST",delay: 250,
                    data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                    processResults: function (data, params) {
                        if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                        else {
                            params.page = data.PageIndex + 1;
                            return {
                                results: $.map(data.Data, function (value, index) {
                                    return {
                                        id: value.Id,
                                        text: value.Id + ' - ' + value.Nama,
                                    }
                                }), pagination: { more: (params.page * 30) < data.TotalCount }
                            };
                        }
                    }, cache: true
                },
                allowClear: true,
                placeholder: ""
            });
        };

        isetup.adddetailpakeobat = (kelompokjenis, hidedelete) => {
            if ($(isetup.form).find('.input-detail .detaildatapaketobat tbody tr[data-id="' + kelompokjenis + '"]').length) {
                alerterror(kelompokjenis + ' sudah ada');
                return;
            }
            var _detail = '';
            _detail += '<tr data-id="' + kelompokjenis + '">';
            _detail += '<td class="text-center view-hide">';
            if (!hidedelete) {
                _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            }
            _detail += '</td>';

            // input
            _detail += `<td><select class="Id" required>${kelompokjenis ? `<option value='${kelompokjenis}'>${kelompokjenis} - ${kelompokjenis}</option>` : ''}</select></td>`;

            _detail += '</tr>';
            $(isetup.form).find('.detaildatapaketobat tbody').append(_detail);



            $(isetup.form).find('.detaildatapaketobat tbody tr:last select').select2({
                ajax: {
                    url: "@Url.Action("List_PaketObat", "Select2")",
                    dataType: 'json',type: "POST",delay: 250,
                    data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                    processResults: function (data, params) {
                        if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                        else {
                            params.page = data.PageIndex + 1;
                            return {
                                results: $.map(data.Data, function (value, index) {
                                    return {
                                        id: value.Id,
                                        text: value.Id,
                                    }
                                }), pagination: { more: (params.page * 30) < data.TotalCount }
                            };
                        }
                    }, cache: true
                },
                allowClear: true,
                placeholder: ""
            });
        };


    });
    function discountexpectionjasa() {
        if ($("#DiscountExpectionJasa").is(':checked')) {
            $("#btn_tambah_discount").prop('disabled', false);
        } else {
            $("#btn_tambah_discount").prop('disabled', true);
        }
    }

    function adarasioobat() {
        if ($("#AdaRasioObat").is(':checked')) {
            $("#btn_tambah_rasioobat").prop('disabled', false);
        } else {
            $("#btn_tambah_rasioobat").prop('disabled', true);
        }
    }



    @*function getjasapaketmcu() {
        $(isetup.form).find('.detailjasa tbody').find('tr').remove();
        var komponen = [];
        $.ajax({
            url: '@Url.Action("GetJasaPaket")',
            type: 'POST',
            data: {
                id: $('#JasaTarif option:selected').val()
            },
            success: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    $.each(r.detailjasa, function (index, value) {
                        isetup.adddetailjasa(
                            value.JasaID,
                            value.JasaName,
                            value.Harga,
                            value.SectionID,
                            value.SectionName
                        );
                    });
                    hitungstlhdiskon();
                }
            }

        });

    }*@

</script>